body {
  font-family: "Poppins", sans-serif;
  margin: 0% auto;
}
.top-banner {
  background-image: url("image/donation1.jpg");
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.banner-content {
  margin: 0 auto;
}

.banner-content h1 {
  font-size: 50px;
  margin: 0;
}

.banner-content p {
  margin-bottom: 30px;
}

.link-button {
  text-decoration: none;
  background-color: red;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  border: none;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
.donate-section-1 {
  display: block;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  margin-top: 50px;
}
.donate-content-1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

.donate-content-1 h1 {
  font-size: 50px;
  margin: 0;
}
.donate-content-2 {
  display: block;
}
.donate-details {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.donate-item {
  background-color: #f9f9f9;
  height: 100px;
  width: 100px;
  display: inline-block;
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
}

.selected {
  background-color: #ffeeef;
  color: red;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: #ff5a5a;
}

.custom-donation {
  width: 43%;
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
}
.field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #dadada;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  text-align: center;
}
.donate-plan {
  margin-top: 100px;
}
.donate-plan-content {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  align-content: center;
}

.donate-plan-content h1 {
  font-size: 50px;
  margin: 2px;
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.sub-donate-details {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}
.sub-donate {
  display: inline-block;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  height: 352px;
  width: 360px;
  vertical-align: top;
  margin-left: 15px;
}
.sub-donate-plan-1 {
  background-color: #f0f6f7;
}
.sub-donate-plan-2 {
  background-color: #fff0f1;
}
.sub-donate-plan-3 {
  background-color: #fff4d5;
}

.donation-feed {
  margin-top: 100px;

  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.donation-feed-left {
  display: inline-block;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  height: 452px;
  width: 500px;
  vertical-align: top;
}

.donation-feed-right {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  height: 452px;
  width: 500px;
  vertical-align: top;
  text-align: left;
}

.donation-feed-right img {
  height: 40%;
  width: 100%;
}

.donation-feed-right p {
  text-align: left;
}

.volunteer-section {
  margin-top: 80px;
}

.volunteer-section-title {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  align-content: center;
}

.volunteer-section-title h1 {
  font-size: 50px;
  margin: 2px;
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.volunteer-card {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}
.team-member {
  display: inline-block;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  vertical-align: top;
  margin-left: 15px;
}

.team-member img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.volunteer-content {

}


.update {
  margin-top: 100px;
}
.update-content {
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.update-content h1 {
  font-size: 50px;
  margin: 0;
  display: block;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.subscribe {
  width: 810px;
  height: 200px;
  margin: 0 auto;
  background-color: #fef4d5;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.email {
  width: 50%;
  margin: 0 auto;
  padding-top: 78px;
}

.email-field {
  background-color: #d9d9d9;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  float: left;
  padding: 10px;
}
.email-radius {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.subscribe-btn {
  background-color: #ff5a5a;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  margin-top: 100px;
}
.footer {
  height: 150px;
  background-color: black;
  display: block;
  text-align: center;
}

.footer-text {
  color: white;
  padding-top: 10px;
}

.footer-text h2 {
  color: #ff5a5a;
  font-family: 'Lobster', cursive;
  font-style: italic;
}
